<h1>Locations</h1>

<ul>
	<li><%= @locations.name %>
		<ul>
			<li>Street: <%= @locations.street %></li>
			<li>City: <%= @locations.city %></li>
			<li>Country: <%= @locations.country %></li>
			<li>Zip Code: <%= @locations.zip_code %></li>
			<li>Latitude: <%= @locations.latitude %></li>
			<li>Longitude: <%= @locations.longitude %></li>
			<li>Description: <%= @locations.description %></li>
		</ul>
	</li>
</ul>