<h1>Locations</h1>

<ul>
	<li><%= @locations.name %>
		<ul>
			<li><%= @locations.street %></li>
			<li><%= @locations.city %></li>
			<li><%= @locations.country %></li>
			<li><%= @locations.zip_code %></li>
			<li><%= @locations.latitude %></li>
			<li><%= @locations.longitude %></li>
			<li><%= @locations.description %></li>
		</ul>
	</li>
</ul>